* {
    box-sizing: border-box;
}

/* SERVE SOMENTE QUANDO FOR "DISPLAY: FLEX" */
/* align-items: flex-start;  /* alinhamento vertical */
/* justify-content: center;  alinhamento horizontal */

body {
    margin: 0;
    padding: 0; 
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
     
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    cursor: pointer;
    font-family: Arial;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #FFFFFF;
}