#geral {
    display: flex;
    justify-content: center;

}

#geral .container {}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget {
    margin-left: 10px;
}

.widget_title {
    margin-top: 30px;
    
    margin-bottom: 20px;
}

.widget_title_text { 
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 7px;
}

aside .widget {
    
}

.widget_cubes {
    display: flex;
    padding-left: 10px;
}

aside .blue_cube_left {
    width: 8rem;
    height: 8rem;
    background-color: #36a9e1;
    margin: 1rem 2rem 1rem 0;   
}

aside .blue_cube_right {
    width: 8rem;
    height: 8rem;
    background-color: #36a9e1;
    margin: 1rem 2rem 1rem 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-bottom: 15px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
    cursor: pointer;
}


article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #39aae1;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;   
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}

article .news_resume {
    color: #3b3939;
    line-height: 20px;
    font-size: 14px;
}