#geral {
    display: flex;
    justify-content: center;

}

#geral .container {}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.widget_title_text { 
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 7px;
}

aside .widget {
    
}

.widget_cubes {
    display: flex;
    padding-left: 10px;
}

aside .blue_cube_left {
    width: 8rem;
    height: 8rem;
    background-color: #36a9e1;
    margin: 1rem 2rem 1rem 0;   
}

aside .blue_cube_right {
    width: 8rem;
    height: 8rem;
    background-color: #36a9e1;
    margin: 1rem 2rem 1rem 0;
}