.menu_mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mn_line {
    height: 3px;
    background-color: #39aae1;
}

@media (max-width: 600px) {

    header {
        height: auto;
    }

    .logo {
        padding: 20px;
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
    }

    /*///////////////////////////////////*/

    .banner_headline {
        padding: 20px;
    }

    .banner_headline h1 {
        font-size: 55px;
    }

    .banner_headline h2 {
        font-size: 17px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    #geral .container {
        flex-direction: column;
        margin-top: 35%;
    }

    #geral section,
    #geral aside {
        padding: 20px;
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    .footer_area_item {
        padding: 20px;
    }

    .footer_copy {
        text-align: center;
    }
}